@each $position in $align-positions-vertical {
  .text-#{$position} {
    text-align: $position;
  }
}

.text-break {
  word-wrap: break-word!important;
  word-break: break-word!important;
}

.text-decoration-none {
  text-decoration: none!important;
}

.text-decoration-underline {
  text-decoration: underline!important;
}

.text-wrap {
  white-space: normal!important;
}

.text-nowrap {
  white-space: nowrap!important;
}
